@model PoshBoutique.Data.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryMerchant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryMerchant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasCommission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCommission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommissionPercents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionPercents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemsPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemsPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
