<!DOCTYPE html>
<html lang="en" ng-app="poshBoutiqueApp">
<head>
    <meta charset="utf-8" />
    <title>Posh Boutique</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" multirow-nav>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Posh</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="catalogue.category({ categoryUrl: 'all' })">Каталог</a></li>
                    <li><a ui-sref="new">Ново</a></li>
                    <li><a ui-sref="discount">Намаление</a></li>
                    <li><a ui-sref="featured">Препоръчани</a></li>
                    <li><a ui-sref="loyal-customer">Клуб лоялен клиент</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <nav-search />
                    </li>
                    <li>
                        <a ui-sref="favourites" tooltip-placement="bottom" tooltip="Любими" class="fav">
                            <i class="glyphicon glyphicon-star-empty highlighted"></i>
                        </a>
                    </li>
                    <li current-user-nav>
                    </li>
                    <li shopping-cart-summary>

                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        
        <aside class="aside-right colapsed" ng-class="{ 'expanded': expanded, 'colapsed': !expanded }">
            <div>
                <div class="aside--table">
                    <div class="block-item block-item--header">
                        <div class="block-item-cell expander" ng-click="expanded = !expanded">
                            <div tooltip-placement="left" tooltip="Меню">
                                <i class="glyphicon glyphicon-th"></i>
                            </div>
                        </div>
                        <div class="block-item-cell">&nbsp;</div>
                    </div>

                    <div class="block-item block-item--header">
                        <div class="block-item-cell expander" ng-click="expanded = !expanded">
                            <div tooltip-placement="left" tooltip="Абонирай се">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </div>
                        </div>
                        <div class="block-item-cell">Абонирай се</div>
                    </div>
                    <div class="block-item">
                        <div class="block-item-cell">
                            &nbsp;
                        </div>
                        <div class="block-item-cell">
                            <div class="block-item-cell--content">
                                <email-subscription-form />
                            </div>
                        </div>
                    </div>

                    <div class="block-item block-item--header">
                        <div class="block-item-cell expander" ng-click="expanded = !expanded">
                            <div tooltip-placement="left" tooltip="Информация">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </div>
                        </div>
                        <div class="block-item-cell">Информация</div>
                    </div>
                    <div class="block-item">
                        <div class="block-item-cell">
                            &nbsp;
                        </div>
                        <div class="block-item-cell">
                            <div class="block-item-cell--content">
                                <ul class="nav">
                                    <li><a ui-sref="home">Правила за условия и ползване</a></li>
                                    <li><a ui-sref="home">Таблица с размери</a></li>
                                    <li><a ui-sref="home">Поръчка и доставка</a></li>
                                    <li><a ui-sref="home">Замяна и връщане</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="block-item block-item--header">
                        <div class="block-item-cell expander" ng-click="expanded = !expanded">
                            <div tooltip-placement="left" tooltip="Свържете се с нас">
                                <i class="glyphicon glyphicon-phone-alt"></i>
                            </div>
                        </div>
                        <div class="block-item-cell">Свържете се с нас</div>
                    </div>
                    <div class="block-item">
                        <div class="block-item-cell">
                            &nbsp;
                        </div>
                        <div class="block-item-cell">
                            <div class="block-item-cell--content">
                                <address>
                                    <strong>Бутик Пош</strong><br>
                                    Пловдивско поле 11<br>
                                    София, България<br>
                                    <abbr title="Телефон">Тел:</abbr> 0888 88 88 88<br>
                                    <a href="#/contact-us">Форма за контакти</a>
                                </address>
                                <address>
                                    <strong>Мая Иванова</strong><br>
                                    <a href="mailto:posh.boutque@gmail.com">boutque@gmail.com</a>
                                </address>
                            </div>
                        </div>
                    </div>

                    <div class="block-item block-item--header">
                        <div class="block-item-cell expander" ng-click="expanded = !expanded">
                            <div tooltip-placement="left" tooltip="За нас">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </div>
                        </div>
                        <div class="block-item-cell">За нас</div>
                    </div>
                    <div class="block-item">
                        <div class="block-item-cell">
                            &nbsp;
                        </div>
                        <div class="block-item-cell">
                            <div class="block-item-cell--content">
                                <a href="#">За бутик Posh</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        
        
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")

    @RenderSection("Scripts", required: false)
</body>
</html>
