@model PoshBoutique.Data.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.UrlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.UrlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
