@model PoshBoutique.Data.Article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UrlName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrlName)
                @Html.ValidationMessageFor(model => model.UrlName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated)
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription)
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaterialDescription)
                @Html.ValidationMessageFor(model => model.MaterialDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThumbnailUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThumbnailUrl)
                @Html.ValidationMessageFor(model => model.ThumbnailUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SizeTypeId, "SizeTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SizeTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.SizeTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visible, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Visible)
                @Html.ValidationMessageFor(model => model.Visible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OriginalPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OriginalPrice)
                @Html.ValidationMessageFor(model => model.OriginalPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountDescription)
                @Html.ValidationMessageFor(model => model.DiscountDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrdersCount, "OrdersCount", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrdersCount)
                @Html.ValidationMessageFor(model => model.OrdersCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LikesCount, "LikesCount", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LikesCount)
                @Html.ValidationMessageFor(model => model.LikesCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CollectionId, "CollectionId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CollectionId", String.Empty)
                @Html.ValidationMessageFor(model => model.CollectionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsFeatured, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsFeatured)
                @Html.ValidationMessageFor(model => model.IsFeatured)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRecommended, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsRecommended)
                @Html.ValidationMessageFor(model => model.IsRecommended)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <label class="">Categories</label>
            <div class="col-md-offset-2 col-md-10">
                @foreach (PoshBoutique.Data.Category category in (IEnumerable<PoshBoutique.Data.Category>)ViewBag.Categories)
                {
                    <span class="bg-info">
                        @category.Title
                        @Html.ActionLink("Премахни", "Delete", "ArticleCategories", new { ArticleId = Model.Id, CategoryId = category.Id }, null) |
                    </span>
                }
                @Html.ActionLink("Add Category", "Create", "ArticleCategories", new { ArticleId = Model.Id }, null)
            </div>
        </div>
    </div>
}

<h3>
    Подобни артикули
</h3>
<div>
    @Html.ActionLink("Добави подобен артикул", "AddRelatedArticle", "Articles", new { ArticleId = Model.Id }, null)
</div>
<table class="table">
    <thead>
        <tr>
            <th>Тъмбнейл</th>
            <th>Име</th>
            <th>Кратко описание</th>
            <th>Опции</th>
        </tr>
    </thead>
    <tbody>
    @foreach (PoshBoutique.Data.Article relatedArticle in (IEnumerable<PoshBoutique.Data.Article>)ViewBag.RelatedArticles)
    {
        <tr>
            <td><img src="@relatedArticle.ThumbnailUrl" width="100" /></td>
            <td>@relatedArticle.Title</td>
            <td>@relatedArticle.ShortDescription</td>
            <td>@Html.ActionLink("Премахни", "DeleteRelatedArticle", "Articles", new { ArticleId = Model.Id, RelatedArticleId = relatedArticle.Id }, null)</td>
        </tr>
    }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
